<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="GithubToken" value="21892cd88e6013941da94f49df8e97db2c7e1768"/>
    <add key="GithubRepoUrl" value="https://github.com/q4-euro/Solutions.git"/>
    <add key="LocalRepoPath" value="C:\EuroPull\Solutions\"/>
    <add key="GitBranch" value="staging"/>
  </appSettings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>